/*
  from me
 */
.from-mess-wrapper .mess-img {
  height: 150px;
  border-radius: 20px 0 20px 20px;
  background-position: center;
  background-size: cover;
}

.from-mess-wrapper {
  margin: 15px 0px;
  display: flex;
  justify-content: flex-end;
}

.from-mess-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.from-mess-wrapper .from-mess {
  max-width: 350px;
  width: fit-content;
  padding: 10px;
  border: 1px solid #c7d0e8;
  border-radius: 20px 0px 20px 20px;
  background-color: #ebf0fe;
  color: #799af8;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  min-height: 42px;
}

.from-mess .check {
  font-size: 10px;
  margin-left: 5px;
}

.from-mess-wrapper .mess-img {
  max-width: 350px;
  min-width: 300px;
  height: 150px;
  border-radius: 20px 0 20px 20px;
  background-position: center;
  background-size: cover;
}

/*
  to me
 */
.to-me-mess-wrapper {
  margin: 15px 0px;
}

.to-me-mess-wrap {
  display: flex;
  justify-content: end;
}

.to-me-mess-wrap .img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

/*
_________________________________
 */

.text-wrapper {
  flex: 1;
}
.info-wrapper {
  display: flex;
  text-align: right;
  white-space: nowrap;
}

.to-me-mess-wrapper .from-mess {
  max-width: 350px;
  width: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px 20px 20px 20px;
  font-size: 14px;
  color: #979eab;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  background: white;
  min-height: 42px;
}

.personal-mess-date {
  font-size: 10px;
  margin-left: 10px;
}

.user-mess .check {
  font-size: 10px;
  margin-left: 5px;
}

.to-me-mess-wrapper .mess-img {
  max-width: 350px;
  min-width: 300px;
  height: 150px;
  border-radius: 0px 20px 20px 20px;
  background-position: center;
  background-size: cover;
}

.mess-img .check {
  position: relative;
  top: 80%;
  left: 90%;
  font-size: 10px;
  color: #fff;
}

.mess-img .check {
  position: relative;
  top: 80%;
  left: 95%;
  font-size: 10px;
  color: #fff;
}

/*system-message*/

.system-message {
  text-align: center;
  font-size: 13px;
  color: #969696;
  margin: 25px 0px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
.system-message div {
  border: 1px solid #969696;
  padding: 5px 8px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: -15px;
}

/*system-message*/


/* module**/

.module .personal-message .to-me-mess-wrapper .mess-img {
  min-width: 260px;
}

.module .from-mess-wrapper .from-mess {
  max-width: 260px;
}
.module .personal-message .from-mess-wrapper .mess-img {
  min-width:  260px;
}

/* module**/

@media (max-width: 414px) {
  .from-mess-wrapper .mess-img,
  .to-me-mess-wrapper .mess-img {
    min-width: 230px;
  }
  .mess-img .check {
    left: 90%;
  }
  .from-mess-wrapper .from-mess,
  .to-me-mess-wrapper .from-mess {
    max-width: 230px;
  }
}

/*
message typing animation
 */

#circleG{
  margin:auto;
}

.circleG{
  background-color:rgb(151,158,171);
  float:left;
  height:10px;
  margin:0 5px;
  width:10px;
  animation-name:bounce_circleG;
  -o-animation-name:bounce_circleG;
  -ms-animation-name:bounce_circleG;
  -webkit-animation-name:bounce_circleG;
  -moz-animation-name:bounce_circleG;
  animation-duration:2.24s;
  -o-animation-duration:2.24s;
  -ms-animation-duration:2.24s;
  -webkit-animation-duration:2.24s;
  -moz-animation-duration:2.24s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  border-radius:20px;
  -o-border-radius:20px;
  -ms-border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

#circleG_1{
  animation-delay:0.45s;
  -o-animation-delay:0.45s;
  -ms-animation-delay:0.45s;
  -webkit-animation-delay:0.45s;
  -moz-animation-delay:0.45s;
}

#circleG_2{
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}

#circleG_3{
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(255,255,255);
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(255,255,255);
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(255,255,255);
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(255,255,255);
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(255,255,255);
  }

  100%{}
}


@media (max-width: 320px) {
  .from-mess-wrapper .mess-img,
  .to-me-mess-wrapper .mess-img {
    min-width: 200px;
  }
  .mess-img .check {
    left: 90%;
  }
  .from-mess-wrapper .from-mess,
  .to-me-mess-wrapper .from-mess {
    max-width: 200px;
  }
}
