.record-dot {
  width: 10px;
  height: 10px;
  background-color: #ff7e7f;
  border-radius: 100%;
}

/*form*/
.personal-footer-audio {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 1px #d4d4d4;
  font-size: 18px;
  color: #979eab;
}

.audio {
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
  padding: 0px 15px;
}

.input-wrapper input {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border:none;
  font-size: 16px;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 black;
}

input.input-audio {
  text-align: center !important;
}

.comp .footer-wrapper {
  box-shadow: none;
  border: 1px solid lightgray;
}

.mobile .footer-wrapper {
  border-radius: 15px 15px 0px 0px;
}

.animate-audio {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recording-btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #bacbe3;
  opacity: 0.2;
  position: absolute;
  right: 7px;
}
.fa-microphone {
  z-index: 1;
}
.timer {
  margin-left: 10px;
}
