

/*
  from me
 */
.from-mess-wrapper .mess-img {
  height: 150px;
  border-radius: 20px 0 20px 20px ;
  background-position: center;
  background-size: cover;
}

.from-mess-wrapper {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}

.from-mess-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.from-mess-wrapper .from-mess {
  max-width: 250px;
  padding: 10px;
  border: 1px solid #c7d0e8;
  border-radius: 20px 0px 20px 20px;
  background-color: #ebf0fe;
  color: #799af8;
  font-size: 14px;
  display: flex;
}

.from-mess .check {
  font-size: 10px;
  margin-left: 5px;
}

.from-mess-wrapper .mess-img {
  max-width: 350px;
  min-width: 300px;
  height: 150px;
  border-radius: 20px 0 20px 20px;
  background-position: center;
  background-size: cover;
}

/*
  to me
 */
.to-me-mess-wrapper {
  margin: 15px 0;
}

.to-me-mess-wrapp {
  display: flex;
  justify-content: end;
}

.to-me-mess-wrapp .img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
/*
_________________________________
 */

.text-wrapper {
  width: 75%;
}
.info-wrapper {
  width: 25%;
  min-width: 55px;
  text-align: right;
}

.to-me-mess-wrapper .from-mess {
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px 20px 20px 20px;
  font-size: 14px;
  color: #979eab;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  background: white;
}

.personal-mess-date {
  font-size: 10px;
  margin-left: 5px;
}

.user-mess .check {
  font-size: 10px;
  margin-left: 5px;
}

/*.user-mess-wrapper .mess-img {*/
/*  width: 70%;*/
/*  height: 150px;*/
/*  border-radius: 20px 0px 20px 20px;*/
/*  background-position: center;*/
/*  background-size: cover;*/
/*}*/

.to-me-mess-wrapper .mess-img {
  max-width: 350px;
  min-width: 300px;
  height: 150px;
  border-radius: 0px 20px 20px 20px;
  background-position: center;
  background-size: cover;
}

.mess-img .check {
  position: relative;
  top: 80%;
  left: 90%;
  font-size: 10px;
  color: #fff;
}

.mess-img .check {
  position: relative;
  top: 80%;
  left: 95%;
  font-size: 10px;
  color: #fff;
}

@media (max-width: 414px) {
  .from-mess-wrapper .mess-img {
    max-width: 60%;
    min-width: inherit;
  }
  .mess-img .check {
    left: 90%;

  }
}
