/*header*/

.contacts-list-header {
  border-bottom: 1px solid #eaeaea;
  background-color: #eaeaea45;
  padding: 20px 0px 10px 0px;
}

.comp .contacts-list-header {
  background-color: transparent;
  padding: 0 0 20px 0;
  border-bottom: none;
}
.comp {
  margin: 0 -20px;
  padding: 0 20px;

}

.custom-link {
  cursor: pointer;
}

.contacts-list-description {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  padding: 0px 20px;
}

.comp .contacts-list-description {
  display: none;
}

.contacts-list-arraw-back i {
  font-size: 14px;
  color: #979eab;
  /* position: absolute; */
  /* left: 6%; */
  /* bottom: 20%; */
}

.contacts-list-title {
  font-weight: 600;
  color: #4c567d;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* margin: 0 auto; */
  width: 100%;
  margin-left: -12px;
  text-align: center;
}

.contacts-list-input {
  text-align: center;
  margin: 10px 0px;
  position: relative;
  padding: 0 20px;
}

.comp .contacts-list-input {
  margin: 0;
}

.contacts-list-input input {
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #eaeaea;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

.comp .contacts-list-input input {
  text-align: left;
  border-radius: 0;
  background-color: white;
  width: 100%;
  padding: 10px 40px;
  font-size: 13px;

}

.contacts-list-input i {
  position: absolute;
  top: 30%;
  z-index: 2;
  left: 39%;
  font-size: 14px;
  color: #979eab;
}

.comp input::-moz-placeholder {
  color: #979eab;
}
.comp input::-webkit-input-placeholder {
  color: #979eab;
}
