.btns-nav {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 30px;

  span {
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #979eab;
    transition: 0.3s ease-in-out;
    padding: 0 20px;
    height: 30px;
    border-bottom: 1px solid #ccc;

    &:hover, &.active {
      border-bottom: 1px solid #5780f7;
    }

    &:hover {
      color: #5780f7;
    }

    &.active
    {
      color: black;
    }
  }
}




.comp .btns-nav {
  border-bottom: none;
}
.comp {
  border-bottom: 1px solid #ccc;
  margin: 0 -20px;
}

.comp .btns-nav span {
  padding-bottom: 10px;
}

.mobile .btns-nav {
  margin-top: 10px;
}

.module .btns-nav span {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 30px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.module .btns-nav {
  justify-content:start;
}

::-webkit-scrollbar {
  height: 0px; /* высота для горизонтального скролла */
}




