.btns-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.btns-nav span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30px;
  text-align: center;
  font-weight: 600;
  color: #979eab;
  transition: 0.3s ease-in-out;
}

.btns-nav span:hover {
  cursor: pointer;
  color: #5780f7;
  border-bottom: 1px solid #5780f7;
}


