.btns-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.btns-nav span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30px;
  text-align: center;
  font-weight: 600;
  color: #979eab;
  transition: 0.3s ease-in-out;
}

.btns-nav span:hover {
  cursor: pointer;
  color: #5780f7;
  border-bottom: 1px solid #5780f7;
}

.comp .btns-nav {
  border-bottom: 1px solid #ccc;
  margin: 0 -20px;
}

.comp .btns-nav span {
  padding-bottom: 10px;
}

.mobile .btns-nav {
  margin-top: 10px;
}

/*::-webkit-scrollbar { !* chrome based *!*/
/*  width: 0px; !* ширина scrollbar'a *!*/
/*  background: transparent; !* опционально *!*/
/*}*/

/*.module .btns-nav {*/
/*  overflow-y: hidden*/
/*}*/

.module .btns-nav span {
  font-size: 14px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  /*width: 25%;*/
  padding: 0px 10px;
  height: 30px;
  text-align: center;
  font-weight: 600;
  color: #979eab;
  transition: 0.3s ease-in-out;
}

.module .btns-nav {
  justify-content:start;
}
