.wrapper-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 999;
}

.btn-open {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  background-color: #72b94d;
  color: #fff;
  border-radius: 50%;
  outline: none !important;
  cursor: pointer;
}

.open-chat {
  text-align: right;
  z-index: 999;
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.open-chat::after {
  content: "1";
  background-color: #c73f45;
  position: relative;
  top: -25px;
  left: -20px;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50%;
}


.message {
  font-size: 14px;
  height: 21px;
  overflow: hidden;
  width: 260px;
  margin-top: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.user {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
}

.user-img {
  width: 20%;
  margin: auto;
}

.user-img .img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.user-info .name {
  font-weight: 500;
  font-size: 13px;
}



/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 108, 108, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(106, 106, 106, 0.4);
}





@media (max-width: 414px) {
  .wrapper-modal {
    top: 0%;
    right: 0%;
    max-width: 414px;
  }
  .wrapper-chat {
    width: 414px;
  }

  .personal-messages {
    height: 80vh;
  }
  .users {
    height: 80vh;
  }
}

@media (max-width: 375px) {
  .wrapper-chat {
    max-width: 375px;
    padding-right: 0px;
  }
  .users {
    padding: 0px 10px;
  }
  .new-mess {
    right: 12%;
  }
}

@media (max-width: 320px) {
  .wrapper-chat {
    max-width: 320px;
  }
  .chat-header a {
    right: 25%;
  }
  .wrapper-chat {
    height: 110vh;
  }
  .message-date {
    font-size: 11px;
  }
  .users {
    padding: 0px 25px;
  }
  .personal-messages {
    padding: 0 10px;
  }
}
