.chat-wrap {
  width: 100%;
  height: calc(100vh - 322px);
  overflow: auto;
  padding-top: 15px;
}

@media (max-width: 414px) {
  .chat-wrap {
    height: calc(100vh - 165px);
  }
}

@media (max-width: 375px) {
  .chat-wrap {
    height: calc(100vh - 170px);
    padding: 0px 15px;
  }
  .chat-files .block-input::before {
    left: 13px;
  }
}


/*@media (max-width: 320px) {*/
/*  .chat-wrap {*/
/*    height: calc(100vh - 300px);*/
/*  }*/

/*  .block-input {*/
/*    text-align: center;*/
/*  }*/
/*}*/



/*@media (height: 1366px) and (width: 1024px ) {*/
/*  .chat-wrap {*/
/*    height: calc(100vh - 375px);*/
/*  }*/
/*}*/

/*@media (height: 1024px) and (width: 768px ) {*/
/*  .chat-wrap {*/
/*    height: calc(100vh - 320px);*/
/*  }*/
/*}*/
/*@media (max-width: 375px) and (max-height: 667px) {*/
/*  .chat-wrap {*/
/*    height: calc(100vh - 165px);*/
/*  }*/
/*}*/




