.admin-mess-wrapp {
  width: 100%;
}

.admin-mess-wrapper .mess-img {

  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://via.placeholder.com/300x300?text=User");
  background-position: center;
  background-size: cover;
}
.mess-img-admin .check {
  position: relative;
  top: 80%;
  left: 92%;
  font-size: 10px;
  color: #fff;
}
.mess-img .check {
  position: relative;
  top: 80%;
  left: 90%;
  font-size: 10px;
  color: #fff;
}


