.search-contact-block {
  margin-bottom: 20px;
}
.search-contact-wrapper {
  position: relative;
}
.search-contact-wrapper .fas {
  position: absolute;
  left: 15px;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #bacbe3;
}
.search-contact {
  border: none;
  padding: 10px 40px;
  width: 100%;
  outline: none;
}

input::-moz-placeholder {
  color: #979eab;
}
input::-webkit-input-placeholder {
  color: #979eab;
}
