.col-1, .col, .col-3{
  padding: 0 !important;
}
.container {
  max-width: 1280px;
  width: 100%;
}
.main-wrapper {
  background-color: #ebeff6;
  height: 100vh;
  position: relative;
}
main {
  height: 95vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100% ;
}
.chat {
  position: relative;
  height: 95vh;
}
.white-col {
  background-color: #fdfdfd;
}
