.m-chat-wrapper {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar { /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

/* dialogs */






