.copying-file {
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  color: #8d8d8d;
  width: 100%;
  text-align: center;
}
.drop-file {
  text-align: center;
}
.copying-file-wrap {
  height: 100%;
  border: 2px solid #bacbe3;
  position: relative;
}
