
.m-chat-header {
  padding: 20px 20px 0px;
  border-bottom: 1px solid #ccc;
}

.m-chat-header .title {
  font-weight: 600;
  color: #4c567d;
}

.m-chat-header .search i {
  color: #979eab;
}

.m-chat-header .add i {
  color: #979eab;
  font-size: 18px;
}


.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-link {
  cursor: pointer;
}


.btns-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0px;
}

.btns-nav span {
  font-size: 14px;
  width: 25%;
  height: 30px;
  text-align: center;
  font-weight: 600;
  color: #979eab;
  transition: 0.3s ease-in-out;
}

.btns-nav span:hover {
  cursor: pointer;
  color: #5780f7;
  border-bottom: 2px solid #5780f7;
}
