
/** TODO **/



/*modal*/

.modal-wrapper  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  height: 40px;
  transition: 0.4s ease-in-out;

}

.modal-wrapper input {
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: #eaeaea;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

/**/
.m-chat-header {
  border-bottom: 1px solid #ccc;
}

.m-chat-header .title {
  font-weight: 600;
  color: #4c567d;
}

.m-chat-header .search i {
  color: #979eab;
  transition: 0.3s ease;
}
.m-chat-header .search i:hover {
  color: #5780f7;
}

.m-chat-header .add i {
  color: #979eab;
  font-size: 18px;
  transition: 0.3s ease;
}

.m-chat-header .add i:hover {
  color: #5780f7;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px;
}

.custom-link {
  cursor: pointer;
}


