.wrapper-chat {
  box-shadow: 0 0 10px 1px #828282;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 85vh;
  background-color: #fff;
}
.header-chat {
  background-color: #ececec;
  text-align: center;
  padding: 10px 0px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-chat a {
  position: relative;
  right: -25%;
  display: block;
  top: 3px;
  padding-bottom: 3px;
  border-radius: 50%;
  width: 25px;
}
.header-chat a i {
  font-size: 25px;
  color: #ccc;
}

.header-chat a i:hover {
  color: #72b94d;
}

@media (max-width: 414px) {

  .wrapper-chat {
    width: 414px;
    height: 100vh;
  }

}

@media (height: 1366px) and (width: 1024px ) {
  .messages-block {
    height: 72vh;
  }
}
