/*footer*/

.m-chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 0px 15px;
}

.m-chat-footer span i {
  color: #979eab;
  font-size: 18px;
}
