.check {
  font-size: 10px;
  margin-left: 5px;
}
.text-wrapper {
  flex: 1;
}
.info-wrapper {
  display: flex;
  text-align: right;
  white-space: nowrap;
}
.personal-mess-date {
  font-size: 10px;
  margin-left: 10px;
}
.mess-content-wrap {
  display: flex;
  justify-content: space-around;
}

.module  to-me-mess-wrapper {
  max-width: 315px;
}
