
/*form*/
.personal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 10px 15px 10px;
  box-shadow: 0px 0px 10px 5px #ccc;
  font-size: 18px;
  color: #979eab;
}

.file,  .audio {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.file i:hover {
  color: #6328f8;
}

.audio i:hover {
  color: #6328f8;
}

.input-wrapper {
  width: 80%;
}

.input-wrapper input {
  width: 100%;
  text-align: center;
  color: #4c567d;
  padding: 10px 0;
  border:none;
  font-size: 16px;
  outline: none;
}
